# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://qqrtzebjxekjscgawdda.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Stripe (public key only on mobile)
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
